{% extends 'chat/base.html' %}
{% load static %}

{% block header %}

<style>
    
    .bgDark {
        background-color: whitesmoke;
        color: black;
        text-decoration: none;
    }

    .bgDark:hover {
      /*   background-color: rgb(22, 118, 207); */
      background-color: rgb(132, 136, 139);
        color: white;
        text-decoration: none;
        font-weight: 500;  
        /* border-radius: 20px !important;   */   
    }

    .bg-primary {
        background-color: rgb(22, 118, 207)!important;
        color: #fff;
        font-weight: 500;   
        /* border-radius: 20px !important;   */
    }

    .list-group-item {
        cursor: pointer;
        text-decoration: none;
    }

 .chat-bubble {
    min-width: 20%;
    max-width: 50%;
    padding: 5px 15px;
    border-radius: 20px !important; 
}
    #user-list a:hover * {
        text-decoration: none;
    }

    .container {
        display: flex;
        height: 90vh;
        width: 100%;
        text-decoration: none;
    }

 .user-list-column {
        flex: 0 0 25%;
        border-right: 1px solid #ccc;
        overflow-y: auto;
        background-color: #fff;
        text-decoration: none;
        position: absolute; 
        left: 0.5%; 
        height: 100%;    
    } 

 .chat-box-column {
        flex: 2;
        overflow-y: auto;
        background-color: white;
        max-width: 115%;
        min-width: 115%;
        position: relative; 
        left: 5%; 
    }

    .chat-box {
        height: 80%;
        overflow-y: auto;
       
    }
    
    .chat {
        background-color: rgb(132, 136, 139);
    }

    #search-box {
        margin-top: 2px;
        margin-right: 10px;
    }

    #search-input {
        width: 218px;
    }

    #search-icon {
        color: black;
    }

    .form-control {
        background-color: white;
    }

/*     body {
        background: url('https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg?cs=srgb&dl=pexels-pixabay-33545.jpg&fm=jpg') no-repeat center center fixed;
        background-size: cover;
    
    } */

    body {
        margin: 0;
        overflow: hidden;
    }

</style>


<!-- grp style  -->
<style>

    #room-list {
        height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
    }

    .room-link {
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        background-color: #f9f9f9;
    }

    .room-link:hover {
        background-color: #e9e9e9;
    }

    .room-link i {
        float: right;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    <div class="user-list-column">
        <div class="list-group" id='user-list-wrapper'>
            <form class="form-inline mb-3" id="search-box">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-input" placeholder="Search users...">
                    <div class="input-group-append">
                        <span class="input-group-text" id="search-icon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </form>

            <!-- Group chat start -->
            <div class="mb-3">
                <div id="room-list" class="room-list">
                    {% for room in rooms %}
                    <a href="{%url 'room' room.slug %}?room={{ room.id }}" class="room-link">
                        <i class="fa fa-users"></i>
                        <span>{{ room.name }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- Group chat end -->

            <div id='user-list' style="height: 100%; overflow-y: auto; text-decoration: none">
                {% for u in users %}
              
                {% if not u.id == 1 and not u.id == user.id %}
             
                  <a class="list-group-item {% if u.id != chat_id %}bgDark{% else %}bg-primary{% endif %}"  href="{% url 'chat-home' %}?u={{u.id}}">  <i class="fa fa-user" ></i>                    <div><p>{{u.first_name}} {{u.last_name}} {{u.username}}</p></div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Chat Box Column -->
    <div class="chat-box-column">
        {% if not chat_id > 0 and not room_id > 0 %}
        <div class="h-100 d-flex flex-column justify-content-center align-items-center">
            <h3>Start Chat now</h3>
            <p><small class="text-muted">Please select a person to chat with or a room to join.</small></p>
        </div>
        {% else %}
        <div id="chat-box-field" class="h-100">
            <div class="chat-box">
                <!-- Private messages -->
                {% for chat in chats %}
                {% if chat.user_from == user %}
                <div class="p-2 w-100 d-flex justify-content-end">
                    <div class="chat-bubble ml-2 mb-2 bg-primary text-light rounded" data-id="{{chat.id}}" style="border-radius: 20px;">
                        <p>{{chat.message}}</p>
                        <div class="d-flex justify-content-between">
                            <p>{{ chat.user_from }} {{ chat.user_from.first_name }} {{ chat.user_from.last_name }}</p>
                            <small>{{chat.date_created|date:"M-d-Y H:i"}}</small>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="p-2 w-100 d-flex justify-content-start">
                    <div class="chat-bubble mr-2 mb-2 bg-light text-dark rounded" data-id="{{chat.id}}">
                        <p>{{chat.message}}</p>
                        <div class="d-flex justify-content-between">
                            <p>{{ chat.user_from }} {{ chat.user_from.first_name }} {{ chat.user_from.last_name }}</p>
                            <small>{{chat.date_created|date:"M-d-Y H:i"}}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <!-- Group chat messages -->

<!--      <div id="chat-messages">
        {% for message in room_messages %}
            <div class="message {% if message.user == request.user %}message-right{% else %}message-left{% endif %}">
                <b class="{% if message.user == request.user %}rightusername{% else %}leftusername{% endif %}">
                    {{ message.user.username }}
                </b>: <span class="content">{{ message.content }}</span>
                <small>{{ message.date_created|date:"M-d-Y H:i" }}</small>
            </div>
        {% endfor %}
    </div> -->
            </div>


            <div class="chat-box-form border-top p-2" style="top: 8%; position: relative;">
             <form action="." method="post" id="chat-submit" class="h-100 d-flex" data-url="{% url 'chat-send' %}"> 
                    <input type="hidden" name="user_from" value="{{ user.id }}">
                    <input type="hidden" name="user_to" value="{{ chat_id }}">
                    <input type="hidden" name="room" value="{{ room_id }}">

                    <div class="col-md-10 h-200">
                        <textarea name="message" id="" class="h-100 w-100 form-control" placeholder="Message "></textarea>
                    </div>

                    <button class="button btn btn-primary h-100 w-70 justify-content-center align-items-center d-flex" style="position: relative; top: 10px;">SEND</button>
                </form>  

  
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}

<script>
   
   $(function () {
    $('#chat-submit').submit(function (e) {
        e.preventDefault(); 
        const formData = {
            'user_from': $('[name="user_from"]').val(),
            'user_to': $('[name="user_to"]').val(), // For single chat
            'room': $('[name="room"]').val(),       // For group chat
            'message': $('[name="message"]').val()
        };

        const url = $(this).data('url'); // Get the URL from the form's data attribute

        // Send an AJAX request to the server
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: url,
            method: "POST",
            data: formData,
            dataType: "json",
            error: err => {
                console.log(err);
                alert('An error occurred while sending the message.');
            },
            success: function (resp) {
                if (typeof resp == "object" && resp.status == 'success') {
                    location.reload(); // Reload the page on successful submission
                } else {
                    console.log(resp);
                    alert('An error occurred while sending the message.');
                }
        }
    });
});


    // real-time  msg update
    chats_renew()
    setInterval(() => {
    chats_renew()
    }, 2500)
});


    $(function () {
        // Function to filter user list based on search input
        function filterUserList(searchText) {
            $('.list-group-item').hide();

            // Show only items that match the search text
            $('.list-group-item').filter(function () {
                return $(this).text().toLowerCase().includes(searchText);
            }).show();
        }

        // Click event handler for the search button
        $('#search-icon').on('click', function () {
            var searchText = $('#search-input').val().toLowerCase();
            filterUserList(searchText);
        });

        // Keyup event handler for real-time search
        $('#search-input').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            filterUserList(searchText);
        });

        // Action when search icon is clicked
        $('#search-icon').on('click', function () {
            alert('users available or not');
        });
    });

    $(function () {
        // Add an event listener for Enter key press in the textarea
        $('#chat-box-field textarea').on('keydown', function (e) {
            if (e.key === 'Enter' && !e.shiftKey) 
            {
                e.preventDefault(); // Prevents a new line in the textarea
                $('#chat-submit').submit(); // Submit the form
            }
        });
    });

    function chats_renew() {
        var last_id = 0;
        if ($('.chat-bubble').length > 0)
            last_id = $('.chat-bubble:last').attr('data-id');
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'chat-renew' %}",
            method: "POST",
            data: {
                last_id: last_id,
                user_id: '{{user.id}}',
                chat_id: '{{chat_id}}'
           },

            dataType: 'json',
            error: err => {
                console.log(err);
                // alert('an error occurred');
            },
            success: function (resp) {
                if (Object.keys(resp).length > 0) {
                    var chatBox = $('.chat-box');
                    Object.keys(resp).map(k => {
                        var bubble;
                        if (resp[k].id.user_from == '{{user.id}}') {
                            bubble = '<div class="p-2 w-100 d-flex justify-content-end chat-bubble">' +
                                '<div class="ml-2 mb-2 bg-primary text-light rounded" data-id="' + resp[k].id + '">' +
                                '<p>' + resp[k].message + '</p>' +
                                ' <div class="d-flex justify-content-between"><small>You</small> <small>' + resp[k].date_created + '</small></div>' +
                                ' </div>' +
                                ' </div>';
                        } else {
                            bubble = '<div class="p-2 w-100 d-flex justify-content-start chat-bubble">' +
                                '<div class="mr-2 mb-2 bg-light text-dark rounded"  data-id="' + resp[k].id + '">' +
                                ' <p>' + resp[k].message + '</p>' +
                                ' <div class=" d-flex justify-content-between"><small>Sender</small> <small>' + resp[k].date_created + '</small></div>' +
                                '</div>' +
                                '</div>';
                        }
                        chatBox.append(bubble);
                    });
                    // Scroll to the bottom after new messages are added
                    chatBox.animate({
                        scrollTop: chatBox.prop('scrollHeight')
                    }, 'fast');
                }
            }
        });
    }

</script>


{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose');
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            const messageContainer = document.querySelector('#chat-messages');
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            if (data.username === userName) {
                messageElement.classList.add('message-right');
            } else {
                messageElement.classList.add('message-left');
            }
            messageElement.innerHTML = '<b class="username">' + data.username + '</b>: <span class="content">' + data.message + '</span>';
            messageContainer.appendChild(messageElement);
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value.trim();

        if (message !== '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));

            messageInputDom.value = '';
        }

        return false;
    };

    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    scrollToBottom();
</script>

{% endblock %}

{% endblock %}









